package home

import "github.com/Tracking-Detector/td_backend_infra/public/views/layout"

templ Show() {
    @layout.Base("Tracking Detector") {
        <h1>Home</h1>
        <p>Welcome to the home page</p>
    }
  
}
