package layout

templ Base(title string) {
    <!DOCTYPE html>
    <html>
        <head>
            <title>{title}</title>
            <link rel="shortcut icon" href="/static/favicon.ico" />
            <link rel="stylesheet" href="/static/styles.css"/>
        </head>
        <body>
            <div class="min-h-screen bg-gradient-to-r from-purple-500 via-pink-600 to-red-600 py-5">
            { children... }
            @Footer()
            </div>
        </body>
    </html>
}