package layout

templ Base(title string) {
    <!DOCTYPE html>
    <html>
        <head>
            <title>{title}</title>
            <link rel="stylesheet" href="/static/styles.css"/>
        </head>
        <body class="m-0 p-0">
            <div class="min-h-screen bg-gradient-to-r from-purple-500 via-pink-600 to-red-600 dark:from-gray-800 dark:via-gray-900 dark:to-gray-800 py-5">
            { children... }
            @Footer()
            </div>
        </body>
    </html>
}